.wrapper
	padding 40px

.field
	position relative
	width 600px
	height 400px
	background #ccc
	border 1px solid #ddd

.body
	position absolute
	right 0
	bottom 0
	width 10px
	height 10px
	background #fff
	border-radius 50%
